body {
    font: 100% Helvetica, sans-serif;
    color: #333;
  }
  
  nz-time-picker {
    margin: 0 8px 12px 0;
  }


  .editable-cell {
    position: relative;
    padding: 5px 12px;
    cursor: pointer;
  }

 
  #container {
    width:10%;
}



  .editable-row:hover .editable-cell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
  }