<div>
  <label nz-checkbox [(ngModel)]="checked">Checkbox</label>

  <div *ngIf="checked === true">
    <input nz-input placeholder="Basic usage" />
  </div>
  {{ checked }}
  <nz-divider nzOrientation="left"></nz-divider>
  <span>hello</span>
</div>
<br />
<br />
<br />

<highcharts-chart
id="container"
  [Highcharts]="HighchartsPupan"
  [options]="chartOptions"
  style="width: 100%; height: 400px; display: block"
></highcharts-chart>



<!-- <highcharts-chart
id="container"
[Highcharts]="Highcharts"
[constructorType]="chartConstructor"
[options]="chartOptions"
[callbackFunction]="chartCallback"
[(update)]="updateFromInput"
[oneToOne]="true"
style="width: 100%; height: 400px; display: block;"
>
</highcharts-chart> -->

<!-- <button (click)="onInitChart()">Init Chart</button> -->


<button nz-button [nzType]="'primary'" (click)="showModal()">
  <span>Show Modal</span>
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="The first Modal"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <ng-container *nzModalContent>
      <div nz-col class="gutter-row" [nzSpan]="24">
        <button nz-button (click)="addRow()" nzType="primary">Add</button>
        <br />
        <br />

        <div *ngIf="checkPixel === true">
          <nz-table
            #editRowTable
            nzBordered
            [nzData]="listOfData"
            [nzPageSize]="50"
            [nzScroll]="{ x: '1100px' }"
          >
            <thead>
              <tr>
                <th nzWidth="30%">เดือน</th>
                <th>ปี</th>
                <th>มูลค่า</th>
                <th>ชื่อ-สกุล</th>
                <th>รหัสพนักงาน</th>
                <th>action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of editRowTable.data" class="editable-row">
                <td>
                  <div
                    class="editable-cell"
                    [hidden]="editId === data.id"
                    (click)="startEdit(data.id)"
                  >
                    {{ data.name }}
                  </div>
                  <input
                    [hidden]="editId !== data.id"
                    type="text"
                    nz-input
                    [(ngModel)]="data.name"
                    (blur)="stopEdit()"
                  />
                </td>
                <td>{{ data.age }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.address }}</td>
                <td>
                  <a
                    nz-popconfirm
                    nzPopconfirmTitle="Sure to delete?"
                    (nzOnConfirm)="deleteRow(data.id)"
                    >Delete</a
                  >
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div *ngIf="checkPixel === false">
          <nz-table
            #editRowTable
            nzBordered
            [nzData]="listOfData"
            [nzPageSize]="50"
          >
            <thead>
              <tr>
                <th nzWidth="30%">เดือน</th>
                <th>ปี</th>
                <th>มูลค่า</th>
                <th>ชื่อ-สกุล</th>
                <th>รหัสพนักงาน</th>
                <th>action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of editRowTable.data" class="editable-row">
                <td>
                  <div
                    class="editable-cell"
                    [hidden]="editId === data.id"
                    (click)="startEdit(data.id)"
                  >
                    {{ data.name }}
                  </div>
                  <input
                    [hidden]="editId !== data.id"
                    type="text"
                    nz-input
                    [(ngModel)]="data.name"
                    (blur)="stopEdit()"
                  />
                </td>
                <td>{{ data.age }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.address }}</td>
                <td>
                  <a
                    nz-popconfirm
                    nzPopconfirmTitle="Sure to delete?"
                    (nzOnConfirm)="deleteRow(data.id)"
                    >Delete</a
                  >
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </ng-container>
  </div>
</nz-modal>

<br />
{{ startTime }}
<br />
{{ isDisabled }}
<div>
  {{ endTime }}
  <br />
  <div *ngIf="ischeck === true">
    <h1>ifffffffffff</h1>
    <div></div>

    <nz-time-picker
      (ngModelChange)="changetime($event)"
      [(ngModel)]="startTime"
      [nzDisabledHours]="getDisabledHours"
      [nzDisabledMinutes]="getDisabledMinutes"
      nzFormat="h:mm a"
      nzPlaceHolder="Start Time"
    ></nz-time-picker>

    <nz-time-picker
      [nzDisabled]="isDisabled"
      [(ngModel)]="endTime"
      (ngModelChange)="changetime1($event)"
      [nzDisabledHours]="getDisabledHours1"
      [nzDisabledMinutes]="getDisabledMinutes1"
      nzPlaceHolder="EndTime"
      nzFormat="h:mm a"
    ></nz-time-picker>
  </div>

  <br />
</div>
<h1 *ngIf="ischeck === false">else</h1>
