/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@media (min-width: 0px) {
    .inner-content {
      background: rgb(172, 55, 55);
      // position: relative;
      // margin: 10px;
      padding: 15px;
      max-height: 100vh;
      overflow-y: auto;
      position: inherit;
    }
  }
  
  @media (min-width: 576px) {
    .inner-content {
      background: rgb(141, 30, 30);
      // position: relative;
      // margin: 10px;
      padding: 50px;
      max-height: 100vh;
      overflow-y: auto;
      position: inherit;
    }
  }
  