
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
// @primary-color: #08a18d;
// @layout-body-background: #ffffff;
// @layout-header-background: #078574;
// @menu-item-color: white;
// @layout-trigger-background: #027969;
// @menu-dark-color: white;
// @menu-dark-item-hover-bg: #027969;
// @menu-highlight-color: @primary-color;